[Desktop Entry]
Type=Application
Exec=lxterminal -e 'bash /home/keya87/alexa-sdk-folder/avs_upboard_last/startsample.sh'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Start Alexa
Name=Start Alexa
Comment[en_US]=
Comment=
